version: '3'

services:
  {{name}}:
    image: {{image}}
    ports: 
      - "{{port}}:{{internalPort}}"
    envVariables: 
      {{#envVariables}}
      {{name}}: "{{{value}}}"
      {{/envVariables}}
    deploy: 
      replicas: {{replicas}}
      